<!-- 文章列表 -->
<div class="flex-item">
	<!-- 文章列表 -->
	<div class="post-list">
	<%
	// 这ejs什么破语法啊(摔
		page.posts.forEach(post => {
	      let releaseDate = new Date(post.date).toLocaleString("zh-CN",{hour12: false, year:'numeric', month:'long', day:'numeric'	, hour:'2-digit',minute:'2-digit',second:'2-digit'}),
				preface = "";
	%>
		<div class="post">
			<a class="link title" href="<%- post.path %>"><%- post.title %></a>
			<div class="introduction markdown-body">
				<%-post.excerpt%>
			</div>
	<%if(post.categories.length){%>
			<div class="other-data categories">
				<i class="icons i-categories"></i>
				<%post.categories.forEach((el, index) => {%>
					<%if(index){%>
						<span class="delimiter"></span>
					<%}%>
					<a class="category" href="/<%-el.path%>"><%-el.name%></a>
				<%})%>
			</div>
	<%}%>
	<%if(post.tags.length){%>
			<div class="other-data tags">
				<%post.tags.forEach(el => {%>
				<a class="tag" href="/<%-el.path%>"><i class="icons i-tags"></i><%-el.name%></a>
				<%})%>
			</div>
	<%} else if(!post.categories.length) {%>
			<div class="other-data tags">
				<span class="tag"><i class="icons i-tags"></i>没有标签</span>
			</div>
	<%}%>
			<p class="date"><i class="icons i-date"></i><span title="<%-new Date(post.date)%>"><%-releaseDate%></span> </p>
		</div>
	<%
		})
	%>
	</div>
	<!-- 简介 -->
	<div class="detail">
		<!-- 用户信息 -->
		<div class="user-info">
			<div class="avatar" style="background-image:url(<%-theme.avatar%>)">		</div>
			<h1 class="author"><%-config.author%></h1>
			<p class="subtitle"><%-config.subtitle%></p>
			<div class="count-item">
				<span class="count">
					<i class="icons i-archives"></i>
					<%-site.posts.length%>
				</span>
				<span class="count">
					<i class="icons i-categories"></i>
					<%-site.categories.length%>
				</span>
				<span class="count">
					<i class="icons i-tags"></i>
					<%-site.tags.length%>
				</span>
			</div>
		</div>
		<!-- tag -->
		<div class="other-box">
			<h1 class="big-title">
				<i class="icons i-tags"></i>
				TAGS
			</h1>
			<div class="list-item">
				<%
					// 取出tag转换为标准数组
					let tags = site.tags.map(el => el);
					// 排序
					tags.sort((ela,elb) => elb.length - ela.length)
					// 输出
					tags.forEach(el => {
				%>
					<a href="/<%-el.path%>" title="<%-el.length%> 篇" class="tag" style="font-size:<%-13+el.length%>px"><%-el.name%></a>
				<%})%>
			</div>
		</div>
		<!-- tag -->
		<div class="other-box tags">
			<h1 class="big-title">
				<i class="icons i-categories"></i>
				CATEGORYS
			</h1>
			<div class="list-item">
				<%
					let categories = site.categories.map(el => el),
						level = 1,
						showIcons = false;
					function showIcon(slug){
						let thisLevel = slug.split("/").length
						if(thisLevel > level){
							level = thisLevel;
							showIcons = true;
						} else {
							level = thisLevel;
							showIcons = false;
						};
					}
					site.categories.forEach(el => {
					showIcon(el.slug);
				%>
					<a href="/<%-el.path%>" style="padding-left:<%-showIcons ? 32 * (level - 2) + 10 : 32 * (level - 1)%>px" class="categories">
						<%if(showIcons){%>
							<i class="icons next-level i-next-level"></i>
						<%}%>
						<%-el.name%>
						<span>(<%-el.posts.length%>)</span>
					</a>
				<%})%>
			</div>
		</div>
	</div>
</div>