<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<%
		let title = config.title;
		if (page.title) {
			title = `${page.title} | ${title}`;
		} else if (page.tag) {
			title = `标签：${page.tag} | ${title}`;
		} else if (page.category) {
			title = `分类：${page.category} | ${title}`;
		} else if (page.archive) {
			title = `归档 | ${title}`;
		}
		title += title + theme.title_suffix;
	%>
	<title><%- title %></title>
	<!-- 所有样式全在此处一次性加载 -->
	<!-- 主题配色 -->
	<%- css('css/color-themer.css') %>
	<!-- 代码高亮 -->
	<%- css('css/srcery.css') %>
	<!-- 主要样式 -->
	<%- css('css/main.css') %>
	<!-- 首页样式 -->
	<%- css('css/index.css') %>
	<!-- 文章页样式 -->
	<%- css('css/post.css') %>
	<!-- 分页样式 -->
	<%- css('css/page.css') %>
	<!-- 归档样式 -->
	<%- css('css/archives.css') %>
	<!-- github MD样式 -->
	<%- css('css/github-markdown.css') %>
	<!-- 图标 -->
	<%- css('//at.alicdn.com/t/font_3205213_us4lrt7ldb.css')%>
	<!-- 动态计算样式 -->
	<style type="text/css">
		.sidebar-item{
			top: <%- theme.fixelMenu ? "68px" : "28px" %>!important;
		}
	</style>
	<!-- 额外引入字体 -->
  <!-- Lite version -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-webfont@1.1.0/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lxgw-wenkai-tc-webfont@1.0.0/style.css" />
  <style>
    .top-title {
    	font-family: lxgw wenkai;
    }
  </style>
<%- js('js/switchTheme.js') %>
</head>
<body>
	<div id="main">
		<div class="content">
			<!-- 顶部 -->
			<%- include("public/header.ejs") %>
			<!-- 滚动条 -->
			<%- include("public/scrollBar.ejs") %>
			<!-- 正文 -->
			<div id="main-block">
				<!-- 居中内容块 -->
				<div class="center-block">
				    <!-- 主内容 -->
					<%- body %>
				</div>
			</div>
			<!-- 底栏 -->
			<div class="fooder markdown-body">
				<a href="https://beian.miit.gov.cn/">蜀ICP备20013501号</a>
				<p>© 2020–2022 <i class="icons i-about"></i> 曦月</p>
				<p>由 <a href="">hexo</a> 驱动 | 主题 <a href="">test-theme</a></p>
			</div>
		</div>
	</div>
</body>
<!-- 脚本 -->
<%- js('js/SmoothScroll.min.js') %>
<%- js('js/chineseColor.js') %>
<%- js('js/pjax.min.js') %>
<%- js('js/topbar.min.js') %>
<%- js('js/scroll.js') %>
<%- js('js/header.js') %>
<%- js('js/toc.js') %>
<%- js('js/main.js') %>

<!-- google 统计 -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-H328L9CE1V"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-H328L9CE1V');
</script>

</html>