<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%- config.title %></title>
	<!-- 所有样式全在此处一次性加载 -->
	<!-- 主题配色 -->
	<%- css('css/color-themer.css') %>
	<!-- 代码高亮 -->
	<%- css('css/srcery.css') %>
	<!-- 主要样式 -->
	<%- css('css/main.css') %>
	<!-- 首页样式 -->
	<%- css('css/index.css') %>
	<!-- 文章页样式 -->
	<%- css('css/post.css') %>
	<!-- 分页样式 -->
	<%- css('css/page.css') %>
	<!-- 归档样式 -->
	<%- css('css/archives.css') %>
	<!-- github MD样式 -->
	<%- css('css/github-markdown.css') %>
	<!-- 图标 -->
	<%- css('//at.alicdn.com/t/font_3205213_h4o1lfj9uh.css')%>
	<!-- 动态计算样式 -->
	<style type="text/css">
		.sidebar-item{
			top: <%- theme.fixelMenu ? "68px" : "28px" %>!important;
		}
	</style>
</head>
<body>
	<div id="main">
		<div class="content">
			<!-- 顶部 -->
			<%- include("public/header.ejs") %>
			<!-- 滚动条 -->
			<%- include("public/scrollBar.ejs") %>
			<!-- 正文 -->
			<div id="main-block">
				<!-- 居中内容块 -->
				<div class="center-block">
				    <!-- 主内容 -->
					<%- body %>
				</div>
			</div>
		</div>
	</div>
</body>
<!-- 脚本 -->
<%- js('js/SmoothScroll.min.js') %>
<%- js('js/chineseColor.js') %>
<%- js('js/pjax.min.js') %>
<%- js('js/topbar.min.js') %>
<%- js('js/main.js') %>
</html>