<%
	// 判断激活哪个元素
	function hasActive(name) {
		let thisName = page.base || page.layout || "home";
		if (thisName.includes(name)) {
			return "active";
		}
		return "";
	}
	let bgPic = page.picture ? page.picture.pic ? page.picture.pic : theme.backgroundImage : theme.backgroundImage;
	if (theme.fixelMenu) {
%>
<div id="fixel-nav" class="head-nav" style="transform: translateY(-100%)">
	<div class="center-block">
		<%
			theme.menu.forEach(el => {
		%>
			<a class="back-link icons i-<%- el %> <%-hasActive(el)%>" href="/<%-el !== 'home' ? el : '' %>"><%-el%></a>
		<%
			})
		%>
	</div>
</div>
<%
	}
	let title = config.title,
		subtitle = config.subtitle,
		isPost = false;

	if(page.layout){
		switch(page.layout){ // 主要页面
			case "tags":
				title = "标签";
				subtitle = `共有 ${site.tags.length} 个标签`;
				break;
			case "categories":
				title = "分类";
				subtitle = `共有 ${site.categories.length} 个分类`;
				break;
			case "about":
				title = "关于";
				subtitle = `你想了解点什么呢`;
				break;
			default: // 子页面
				postPage();
				break;
		}
	} else if(page.__index){
		// 首页
		title = config.title;
		subtitle = config.subtitle;
	} else if(page.archive){
		// 归档页
		title = "归档";
		subtitle = "在时间里寻找答案";
	} else if(page.tag){
		title = page.tag;
		subtitle = `当前标签下有 ${page.posts.length} 篇文章`;
		bgPic = getPic("tags");
	} else if(page.category){
		title = page.category;
		subtitle = `当前分类下有 ${page.posts.length} 篇文章`;
		bgPic = getPic("categories");
	}

	// 获取页面banner图片
	function getPic(pageName) {
		for (var i = 0; i < site.pages.length; i++) {
			if (site.pages.data[i].layout === pageName) {
				return site.pages.data[i].picture ? site.pages.data[i].picture.pic ? site.pages.data[i].picture.pic : theme.backgroundImage : theme.backgroundImage;
			}
		}
	}

	// 文章页面
	function postPage(){
		title = page.title;
		isPost = true;
	}
%>

<div id="top-pic">
	<!-- 顶部导航 -->
	<div id="top-nav">
		<div class="center-block">
			<a class="about"  href="/about"><%-config.author%></a>
			<div class="menu-item">
				<%
					theme.menu.forEach(el => {
				%>
					<a class="back-link icons i-<%- el %>" href="/<%-el !== 'home' ? el : '' %>"><%-el%></a>
				<%
					})
				%>
			</div>
		</div>
	</div>
	<!-- 标题信息 -->
	<div class="top-title">
		<div class="center-box">
			<%if(!isPost){%>
				<div class="big-title-item">
					<h1 class="big-title"><%-title%></h1>
	    		<p class="sm-title"><%-subtitle %></p>
				</div>
			<%
				}else{
					let releaseDate = new Date(page.date).toLocaleString("zh-CN",{ year:'numeric', month:'long', day:'numeric'});
			%>
				<div class="detail-item">
					<h1 class="big-title"><%-title%></h1>
					<p class="author"><%-config.author%> 发布于 <span title="<%-new Date(page.date)%>"><%-releaseDate%></span> </p>
					<%if(page.categories.length){%>
						<div class="other-data categories">
							<i class="icons i-categories"></i>
							<%page.categories.forEach((el, index) => {%>
								<%if(index){%>
									<span class="delimiter"></span>
								<%}%>
								<a class="category" href="/<%-el.path%>"><%-el.name%></a>
							<%})%>
						</div>
					<%}%>
					<%if(page.tags.length){%>
						<div class="other-data tags">
							<%page.tags.forEach(el => {%>
								<a class="tag" href="/<%-el.path%>"><i class="icons i-tags"></i><%-el.name%></a>
							<%})%>
						</div>
					<%}%>
					<%if(page.picture && page.picture.url){%>
						<div class="other-data pic">
							<i class="icons i-pic"></i>
							<a href="<%-page.picture.url%>"><%-page.picture.name ? page.picture.name : page.picture.url%></a>
						</div>
					<%}%>
				</div>
			<%}%>
		</div>
	</div>
	<div class="bgi shadow-blur" style="background-image:url(<%-bgPic%>)"></div>
</div>