<%
	console.log(page)
	let total = page.total,
		current = page.current,
		prev = page.prev,
		next = page.next,
		maxShowPage = theme.page.maxShowPage - 1,
		startPage = (() => {
			let starPage = current - Math.floor(maxShowPage/2);
			if (starPage <= 0) {
				return 1;
			}
			if (starPage + maxShowPage > total) {
				return total - maxShowPage;
			}
			return starPage;
		})(),
		forLoop = total > maxShowPage ? (startPage + maxShowPage) : total;

		// 计算正确起始序号
		if (startPage === 2) {
			++startPage;
			if (forLoop + 1 <= total) {
				++forLoop;
			}
		} else if(forLoop + 1 === total){
			if (startPage - 1 > 0) {
				--startPage;
			}
			--forLoop;
		}

		if(total > 1){
%>
<ul class="pages">
	<li>
		<a href="<%-`/${page.prev_link}`%>" class="<%-prev !== 0 ? '' : 'none-page'%> prev-page">
			<i class="icons i-next-page"></i>
		</a>
	</li>
	<%
		if (startPage > 1) {
	%>
	<li>
		<a href="<%-`/${page.base}`%>" class="">1</a>
	</li>
	<li>
		<a href="" class="ellipsis">...</a>
	</li>
	<%
		}
		for (let i = startPage; i <= forLoop; i++) {
	%>
	<li>
		<a href="<%-i === 1 ? `/${page.base}` : `/${page.base}page/${i}/`%>" class="<%-i === current ? 'on-choose' : ''%>"><%-i%></a>
	</li>
	<%
		}
		if (forLoop < total) {
	%>
	<li>
		<a href="" class="ellipsis">...</a>
	</li>
	<li>
		<a href="<%-total === 1 ? `/${page.base}` : `/${page.base}page/${total}/`%>" class="<%-total === current ? 'on-choose' : ''%>"><%-total%></a>
	</li>
	<%
		}
	%>
	<li>
		<a href="<%-next === 0 ? '' : `/${page.next_link}`%>" class="<%-next !== 0 ? '' : 'none-page'%> next-page">
			<i class="icons i-next-page"></i>
		</a>
	</li>
</ul>
<%}%>