<!-- 用户信息模块 -->
<div class="sidebar user-info">
	<div class="avatar" style="background-image:url(<%-theme.avatar%>)">
		<img style="opacity: 0;" src="<%-theme.avatar%>">
	</div>
	<h1 class="author"><%-config.author%></h1>
	<p class="subtitle"><%-config.subtitle%></p>
	<div class="count-item">
		<span class="count">
			<i class="icons i-archives"></i>
			<%-site.posts.length%>
		</span>
		<span class="count">
			<i class="icons i-categories"></i>
			<%-site.categories.length%>
		</span>
		<span class="count">
			<i class="icons i-tags"></i>
			<%-site.tags.length%>
		</span>
	</div>
	<div class="switch-theme light">
		<i title="切换为亮色主题" class="icons i-light-theme"></i>
		<i title="切换为暗色主题" class="icons i-dark-theme"></i>
	</div>
</div>